@CHARSET "ISO-8859-1";

.div-item {
	color: #ffffff;
	background-color:#93713A ;
	border-color: #357ebd;
	white-space: normal;
 	height: 120;
 	font-size: large;
    line-height: 1.5;
    border-radius: 3px;
    cursor: pointer;
    padding: 1px 5px;
    text-align: center;
    margin: 5;
}

 .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        word-wrap:break-word;
    }

.div-item:hover, .div-item:focus, .div-item:active, .div-item.active, .open .dropdown-toggle.div-item {
	color: #ffffff;
	background-color: #A57F37;
	border-color: #285e8e;
}

.ui-icon-circle-minus { 
	-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);.
}

.ui-jqgrid table { border-collapse: separate; }
.ui-jqgrid .ui-pg-input, .ui-jqgrid .ui-pg-selbox { width: auto }

.ui-jqgrid .ui-jqgrid-labels th.ui-th-column {
    background-color: #93713A;
    background-image: none
}

.error{
	color:red
}
li.dropdown:hover ul.dropdown-menu{
        display: block; 
}
.ui-widget-content{
	border: 0.5px solid #dddddd;
    background: #986e35;
    color: #333333;
}

.modal-content {
	position: relative;
	border: 1px solid rgba(254, 182, 203, 0.5);
	border-radius: 6px;
	outline: none;
	background:  #753e27;
}

